/CppApplication_Stack/build/
/CppApplication_Stack/dist/
/CppGeneralAlgorithms/build/
/CppGeneralAlgorithms/dist/
/GeneralAlgorithms/build/
/GeneralAlgorithms/dist/
/BinaryTree/build/
/BinaryTree/dist/